.stopwatch {
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 2em;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  border: 0.2em solid #888;
  transform: translate(-50%, 0);
}
.stopwatch:hover {
  border-color: #555;
  background-color: #ddd;
  cursor: pointer;
}
.stopwatch--timestop {
  color: #888;
}

.settings {
  position: fixed;
  margin-top: 2em;
  left: 1em;
  border-radius: 0.5em;
  background-color: #ddd;
  z-index: 1;
}
.settings__button {
  position: absolute;
  top: 0;
  padding: 0.6em;
  width: 2.3em;
  height: 2.3em;
  border-radius: 0.6em;
  border: 0.3em solid #888;
  background-color: #ddd;
  cursor: pointer;
  z-index: 2;
}
.settings__button:hover {
  background-color: #ddd;
  border-color: #555;
  filter: invert(0.1);
}
.settings__button:active {
  border-color: #888;
  background-color: #ddd;
}
.settings__button:focus {
  outline: none;
}
.settings__button--open {
  left: 0;
  border-radius: 0.6em 0 0.6em 0;
  border-top: none;
  border-left: none;
}
.settings__parameter {
  margin-top: 0.7em;
}
.settings__title {
  margin-top: 0;
  font-weight: bold;
  text-align: right;
  color: #555;
}
.settings__range {
  margin-top: 1.5em;
}
.settings__range-left, .settings__range-right {
  appearance: textfield;
  padding: 0.2em;
  width: 2.3em;
  text-align: center;
  font-size: 0.9em;
  border: none;
  border-top: 0.1em solid #888;
  border-radius: 0.2em;
  background-color: #ddd;
}
.settings__range-left:hover, .settings__range-right:hover {
  border-color: #555;
}
.settings__range-left:focus, .settings__range-right:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 0.4em #555;
}

.settings--visible {
  box-shadow: 75em 30em 150em 150em rgba(255, 255, 255, 0.5);
  border: 0.2em solid #555;
  padding: 1em;
}

.autocheck__delay {
  margin-top: 0.2em;
  width: 100%;
  text-align: right;
  font-size: 0.8em;
}

#quick {
  margin-right: 1em;
}

#medium {
  margin-right: 2.7em;
}

#slow {
  margin-right: 2.5em;
}

@media (max-width: 522px) {
  .settings__button {
    padding: 0.4em;
    width: 1.9em;
    height: 1.9em;
  }
  #quick {
    margin-right: 0.8em;
  }
  #medium, #slow {
    margin-right: 1.7em;
  }
}
@media (max-width: 418px) {
  .settings__button {
    padding: 0.4em;
    width: 1.6em;
    height: 1.6em;
    border-width: 0.2em;
  }
}
@media (max-width: 367px) {
  .settings {
    left: 0.1em;
  }
  .settings--visible {
    padding: 0.5em;
  }
}
.answer {
  text-align: center;
  margin-top: 2em;
}
.answer__input {
  display: block;
  margin: 1em auto 0 auto;
  padding: 0.2em;
  font-size: 1em;
  text-align: center;
  border-radius: 0.2em;
  border: 0.2em solid #888;
}
.answer__input:hover {
  border-color: #555;
}
.answer__input:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 0.4em #555;
}
.answer__input--correct {
  border-color: #f4f !important;
}
.answer__input--wrong {
  border-color: #4ff !important;
}

#correctIcon, #wrongIcon {
  position: absolute;
  top: 3.4em;
  font-size: 1.4em;
}

#correctIcon {
  left: 0.2em;
  color: #f4f;
}

#wrongIcon {
  right: 0.2em;
  color: #4ff;
}

#check {
  font-size: 1em;
  margin-top: 2em;
  padding: 1em;
  border-radius: 0.5em;
  border: 0.2em solid #888;
  cursor: pointer;
}
#check:focus {
  outline: none;
}
#check:hover {
  color: #555;
  border-color: #555;
  background-color: #ddd;
}
#check:active {
  color: #888;
  border-color: #888;
  background-color: #ddd;
}

.log {
  position: fixed;
  margin-top: 2em;
  right: 1em;
  border-radius: 0.5em;
  background-color: #ddd;
  z-index: 1;
}
.log__button {
  position: absolute;
  top: 0;
  padding: 0.6em;
  width: 2.3em;
  height: 2.3em;
  border-radius: 0.6em;
  border: 0.3em solid #888;
  background-color: #ddd;
  cursor: pointer;
  z-index: 2;
}
.log__button:hover {
  border-color: #555;
  background-color: #ddd;
  filter: invert(0.1);
}
.log__button:active {
  border-color: #888;
  background-color: #ddd;
}
.log__button:focus {
  outline: none;
}
.log__button--open {
  border-radius: 0 0.6em 0 0.6em;
  border-top: none;
  border-right: none;
}
.log #toggleLogButton {
  right: 0;
}
.log #clearLogButton {
  left: 0;
  border-radius: 0.6em 0 0.6em 0;
  border-top: none;
  border-left: none;
}
.log__table-container {
  position: relative;
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.log__table {
  font-size: 0.8em;
}
.log__title {
  padding: 0 0 1.5em 0 !important;
  border: none !important;
  font-weight: bold;
  color: #555;
}
.log th {
  text-align: center;
  padding: 0 0.5em;
  border-right: 0.1em solid #888;
}
.log th:last-child {
  border-right: none;
}
.log td {
  text-align: center;
  padding: 0.5em;
  border-top: 0.1em solid #888;
  border-right: 0.1em solid #888;
}
.log td:last-child {
  border-right: none;
}
.log .td--correct {
  color: #f4f;
}
.log .td--wrong {
  color: #4ff;
}
.log__foot {
  color: #555;
}
.log__foot td:first-child {
  padding-right: 1em;
  font-weight: bold;
  text-align: right;
}

.log--visible {
  box-shadow: -50em 30em 150em 150em rgba(255, 255, 255, 0.5);
  border: 0.2em solid #555;
  padding: 0.7em;
}

@media (max-width: 522px) {
  .log__button {
    padding: 0.4em;
    width: 1.9em;
    height: 1.9em;
  }
}
@media (max-width: 418px) {
  .log__table {
    font-size: 0.7em;
  }
  .log__button {
    padding: 0.4em;
    width: 1.6em;
    height: 1.6em;
    border-width: 0.2em;
  }
}
@media (max-width: 367px) {
  .log {
    right: 0.1em;
  }
  .log--visible {
    padding: 0.2em;
  }
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  color: #222;
  background-color: #1b1b1d;
  filter: invert(1);
}

.body--light {
  background-color: #eee;
  filter: invert(0);
}
.body--light #correctIcon {
  color: #0b0;
}
.body--light #wrongIcon {
  color: #b00;
}
.body--light .answer__input--correct {
  border-color: #0b0 !important;
}
.body--light .answer__input--wrong {
  border-color: #b00 !important;
}
.body--light .settings--visible {
  box-shadow: 75em 30em 150em 150em rgba(0, 0, 0, 0.5);
}
.body--light .log--visible {
  box-shadow: -50em 30em 150em 150em rgba(0, 0, 0, 0.5);
}
.body--light .td--correct {
  color: #0b0;
}
.body--light .td--wrong {
  color: #b00;
}

#landscapeOrientMsg {
  position: fixed;
  width: 100%;
  top: 50vh;
  transform: translate(0, -50%);
  font-size: 1.5em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 0.2em solid #888;
  border-bottom: 0.2em solid #888;
}

.container {
  position: absolute;
  margin: 0;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0.5em;
}

.math-expression {
  font-size: 2em;
  text-align: center;
}

#start {
  font-size: 0.9em;
  color: #555;
  padding-top: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.4em;
  border-top: 0.15em solid #888;
  border-left: 0.15em solid #888;
  border-right: 0.15em solid #888;
  cursor: pointer;
}
#start:hover {
  color: #222;
  border-color: #222;
}
#start:active {
  font-size: 0.85em;
}

#answerInput {
  appearance: textfield;
}

@media (max-width: 522px) {
  body {
    font-size: 16px;
  }
}

/*# sourceMappingURL=index.css.map */
