html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  color: #222;
  background-color: #1b1b1d;
  filter: invert(1);
}

#stopwatch {
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 2em;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  border: 0.2em solid #888;
  transform: translate(-50%, 0);
}
#stopwatch:hover {
  border-color: #555;
  background-color: #ddd;
  cursor: pointer;
}
#stopwatch.timestop {
  color: #888;
}

.log-table-container {
  position: relative;
}

.log {
  position: fixed;
  margin-top: 2em;
  right: 1em;
  border-radius: 0.5em;
  background-color: #e4e4e2;
  z-index: 1;
}
.log .show-log {
  right: 0;
  border-radius: 0 0.2em 0 0.2em;
  border-top: none;
  border-right: none;
  border-left: 0.1em solid #888;
  border-bottom: 0.1em solid #888;
}
.log-visible {
  box-shadow: -50em 50em 100em 100em rgba(255, 255, 255, 0.5);
  border: 0.2em solid #555;
  padding: 0.7em;
}
.log-button {
  position: absolute;
  top: 0;
  padding-top: 0;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.7em;
  color: #888;
  border-radius: 0.2em;
  border: 0.1em solid #888;
  background-color: #e4e4e2;
  cursor: pointer;
  z-index: 2;
}
.log-button:hover {
  color: #555;
  background-color: #ddd;
  border-color: #555;
}
.log-button:active {
  color: #888;
  border-color: #888;
  background-color: #e4e4e2;
}
.log-button-show {
  right: 0.1em;
  padding-bottom: 0.2em;
}
.log-button-clear {
  left: 0;
  font-weight: bold;
  border-radius: 0.2em 0 0.2em 0;
  border-top: none;
  border-left: none;
  border-right: 0.1em solid #888;
  border-bottom: 0.1em solid #888;
}
.log-table-container {
  position: relative;
  max-height: 80vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.log-table {
  font-size: 0.8em;
}
.log-title {
  padding: 0 0 0.8em 0 !important;
  border: none !important;
  font-size: 1.3em;
  font-weight: bold;
  color: #555;
}
.log th {
  text-align: center;
  padding: 0 0.5em;
  border-right: 0.1em solid #888;
}
.log th:last-child {
  border-right: none;
}
.log td {
  text-align: center;
  padding: 0.5em;
  border-top: 0.1em solid #888;
  border-right: 0.1em solid #888;
}
.log td:last-child {
  border-right: none;
}
.log td.correct-log {
  color: #f4f;
}
.log td.wrong-log {
  color: #4ff;
}
.log-foot {
  color: #555;
}
.log-foot td:first-child {
  padding-right: 1em;
  font-weight: bold;
  text-align: right;
}

.container {
  position: absolute;
  margin: 0;
  top: 10em;
  left: 50%;
  transform: translate(-50%, 0);
}

.expression-wrapper {
  font-size: 2em;
  text-align: center;
}

#start {
  font-size: 0.9em;
  color: #555;
  padding-top: 0.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-radius: 0.4em;
  border-top: 0.15em solid #888;
  border-left: 0.15em solid #888;
  border-right: 0.15em solid #888;
  cursor: pointer;
}
#start:hover {
  color: #222;
  border-color: #222;
}
#start:active {
  font-size: 0.85em;
}

.answer-wrapper {
  text-align: center;
  margin-top: 2em;
}

#correctIcon, #wrongIcon {
  position: absolute;
  top: 3.4em;
  font-size: 1.4em;
}

#correctIcon {
  left: 0.2em;
  color: #f4f;
}

#wrongIcon {
  right: 0.2em;
  color: #4ff;
}

#input {
  appearance: textfield;
  display: block;
  margin-top: 1em;
  font-size: 1em;
  padding: 0.2em;
  border-radius: 0.2em;
  border: 0.2em solid #888;
}
#input:hover {
  border-color: #555;
}
#input:focus {
  outline: none;
  border-color: #555;
  box-shadow: 0 0 0.4em #555;
}
#input.correct-input {
  border-color: #f4f;
}
#input.wrong-input {
  border-color: #4ff;
}

#check {
  font-size: 1em;
  margin-top: 2em;
  padding: 1em;
  border-radius: 0.5em;
  border: 0.2em solid #888;
  cursor: pointer;
}
#check:focus {
  outline: none;
}
#check:hover {
  color: #555;
  background-color: #ddd;
  border-color: #555;
}
#check:active {
  color: #888;
  border-color: #888;
  background-color: #e4e4e2;
}

/*# sourceMappingURL=index.css.map */
