@use 'components/Stopwatch'
@use 'components/Settings'
@use 'components/Log'
	
html, body
	margin: 0
	padding: 0

body 
	font-family: sans-serif
	font-size: 20px
	color: #222
	background-color: #1b1b1d
	filter: invert(1)

.container
	position: absolute
	margin: 0
	top: 10em
	left: 50%
	transform: translate(-50%, 0)

.math-expression
		font-size: 2em
		text-align: center

#start
	font-size: .9em
	color: #555
	padding-top: .2em
	padding-left: .3em
	padding-right: .3em
	border-radius: .4em
	border-top: .15em solid #888
	border-left: .15em solid #888
	border-right: .15em solid #888
	cursor: pointer

	&:hover
		color: #222
		border-color: #222

	&:active
		font-size: .85em

.answer
	text-align: center
	margin-top: 2em

#correctIcon, #wrongIcon
	position: absolute
	top: 3.4em
	font-size: 1.4em

#correctIcon
	left: .2em
	color: #f4f

#wrongIcon
	right: .2em
	color: #4ff

#answerInput
	display: block
	margin: 1em auto 0 auto

.number-input
	appearance: textfield // remove arrows
	font-size: 1em
	padding: .2em
	border-radius: .2em
	border: .2em solid #888

	&:hover
		border-color: #555

	&:focus
		outline: none
		border-color: #555
		box-shadow: 0 0 .4em#555

	&.correct-input
		border-color: #f4f

	&.wrong-input
		border-color: #4ff

#check
	font-size: 1em
	margin-top: 2em
	padding: 1em
	border-radius: .5em
	border: .2em solid #888
	cursor: pointer

	&:focus
		outline: none

	&:hover
		color: #555
		background-color: #ddd
		border-color: #555

	&:active
		color: #888
		border-color: #888
		background-color: #e4e4e2
