@use '../variables' as *
	
.settings
	position: fixed
	margin-top: 2em
	left: 1em
	border-radius: .5em
	background-color: $bgc-white-dark
	z-index: 1
	
	&__button
		position: absolute
		top: 0
		padding: 0 .2em .1em .2em
		font-size: 1.8em
		color: $color-grey-light
		border-radius: .2em
		border: $border-thin
		background-color: $bgc-white-dark
		cursor: pointer
		z-index: 2

		&:hover
			color: $color-grey-dark
			background-color: $bgc-white-dark
			border-color: $color-grey-dark

		&:active
			color: $color-grey-light
			border-color: $color-grey-light
			background-color: $bgc-white-dark

		&--open
			left: 0
			border-radius: .2em 0 .2em 0
			border-top: none
			border-left: none
			border-right: $border-thin
			border-bottom: $border-thin

	&__parameter
		margin-top: .5em

	&__title
		margin-top: 0
		font-weight: bold
		text-align: right
		color: $color-grey-dark

	&__range 
		margin-top: 1.5em
		
		&-left, &-right
			appearance: textfield // remove arrows
			padding: .2em
			width: 2.3em
			text-align: center
			font-size: .9em
			border: none
			border-top: $border-thin
			border-radius: .2em
			background-color: $bgc-white-dark

			&:hover
				border-color: $color-grey-dark

			&:focus
				outline: none
				border-color: $color-grey-dark
				box-shadow: 0 0 .4em$color-grey-dark
		
.settings--visible 
	box-shadow: 75em 30em 150em 150em rgba(255, 255, 255, 0.5)
	border: .2em solid $color-grey-dark
	padding: 1em	