@use '../variables' as *
	
.settings
	position: fixed
	margin-top: 2em
	left: 1em
	border-radius: .5em
	background-color: $bgc-white-dark
	z-index: 1
	
	&__button
		position: absolute
		top: 0
		padding: .6em
		width: 2.3em
		height: 2.3em
		border-radius: .6em
		border: $border-bold
		background-color: $bgc-white-dark
		cursor: pointer
		z-index: 2

		&:hover
			background-color: $bgc-white-dark
			border-color: $color-grey-dark
			filter: invert(.1)

		&:active
			border-color: $color-grey-light
			background-color: $bgc-white-dark

		&:focus 
			outline: none

		&--open
			left: 0
			border-radius: .6em 0 .6em 0
			border-top: none
			border-left: none

	&__parameter
		margin-top: .5em

	&__title
		margin-top: 0
		font-weight: bold
		text-align: right
		color: $color-grey-dark

	&__range 
		margin-top: 1.5em
		
		&-left, &-right
			appearance: textfield
			padding: .2em
			width: 2.3em
			text-align: center
			font-size: .9em
			border: none
			border-top: $border-thin
			border-radius: .2em
			background-color: $bgc-white-dark

			&:hover
				border-color: $color-grey-dark

			&:focus
				outline: none
				border-color: $color-grey-dark
				box-shadow: 0 0 .4em$color-grey-dark
		
.settings--visible 
	box-shadow: 75em 30em 150em 150em rgba(255, 255, 255, 0.5)
	border: .2em solid $color-grey-dark
	padding: 1em	